@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.background-container {
  background-color: #23424A;
  height: 64vh;
}

.text-container {
  padding: 5em 5em;
  width: 60%;
}

.banner-h1  {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
}

.banner-text  {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 3.5em;
}

.banner-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #072A2D;
    background-color: #38CFD9;
    text-decoration: none;
    padding: 0.75em 2.5em;
    border-radius: 2em;
}
