
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.3rem;
}

p {
  margin: 0;
}

/* Header */

.header {
  background-color: #F3EED9;
  font-family: 'Roboto', sans-serif;
  padding: 9em 0;
  min-height: 660px;
}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.75rem;
  color: #824936;
  margin: 0.5rem 0;
}

.header p {
  font-size: 1.125rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1128px;
}

.header-text {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

/* ---- Content ---- */

/* First section */

.two-columns {
  color: #222C2A;
  padding: 2em 0 5em 0;
}

.two-columns-section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.25rem;
  color: #824936;
  text-align: center;
  margin-bottom: 1.25em;
}

.two-columns-text {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* Second section */

.img-green {
  background-color: #222C2A;
  color: #F3EED9;
  padding: 4em 0;
}

.img-section {
  display: flex;
  justify-content: space-between;
}

.img-section img {
  align-self: flex-start;
}

.img-section > *,
.two-columns-text > * {
  width: 47%;
}

.img-section-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.25rem;
  margin-top: 0;
}

/* Third section */

.img-brown {
  background-color: #824936;
  color: #F3EED9;
  padding: 4em 0;
}
