
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --white-header: #fff;
  --gold-header: #A59678;
  --purple-background: #3B4050;
  --nav-background: #2E323F;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid red;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0;
}

/* Hamburger Menu */

.header {
  background-color: var(--nav-background);
  padding: 1em 1em 1.25em 1em;
}

.header-container {
  position: relative;
}

.logo {
  margin: 0 auto;
}

nav {
  display: none;
}

.hamburger,
.hamburger::after,
.hamburger::before {
  margin: 0 auto;
  background-color: var(--nav-background);
  display: block;
  height: 3px;
}

.hamburger::before {
  content: '';
  width: 100%;
}

.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before { transform: translateY(-6px);}
.hamburger::after { transform: translateY(3px);}

.nav-toggle {
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 100px;
  border: none;
  position: absolute;
}

.nav-toggle:hover {
  opacity: 0.5;
}

.nav-visible {
  display: block;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.nav-list {
  list-style-type: none;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}

.nav-list li {
  margin-bottom: 1em;
}

.nav-item {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  margin-left: 0;
  margin-bottom: 1em;
  padding: 0;
  color: var(--white-header);
}

.nav-item:hover {
  opacity: 0.5;
}

/* Hero */

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    line-height: 1;
    color: var(--gold-header);
  }

  .hero-text {
    color: var(--white-header);
    margin-bottom: 2em;
  }

  .hero-header-first-part {
    color: var(--white-header);
  }

  .hero {
    background-color: var(--purple-background);
    padding: 1em 1em 3em 1em;
  }

  .hero-btn {
    text-decoration: none;
    color: var(--white-header);
    background-color: var(--gold-header);
    border-radius: 100px;
    padding: 0.5em 1em;
    font-family: 'Oswald';
    text-transform: uppercase;
  }

  .hero-btn:hover {
    opacity: 0.5;
  }

/* Section one */

  .section-one {
    background-color: rgb(237, 237, 237);
    padding: 2em 0;
  }

  .text-column  {
    text-align: center;
    padding: 1.5em 2em;
  }

  .subheader-one {
    color: var(--gold-header);
  }

/* Section two */

  .section-two {
    padding: 2em 0 0 0;
  }

  /* image and text */

  img {
    width: 100%;
  }

  .subheader-two {
    color: var(--gold-header);
    font-size: 2rem;
  }

  /* 3 cards */

  .column-section {
    margin-top: 2em;
  }

  .text-column-section-two  {
    text-align: center;
    background-color: var(--purple-background);
    padding: 2em;
    margin-bottom: 2em;
  }

  .subheader-two-cards {
    color: var(--white-header);
  }

  .text-column-paragraph-two {
    color: var(--white-header);
    opacity: 0.8;
  }

/* Footer */

.footer {
  padding: 2em;
  background-color: var(--purple-background);
}

.subheader-footer {
  font-size: 1.33rem;
  color: var(--white-header);
  margin-bottom: 1em;
}

.subheader-subsection-footer {
  color: var(--gold-header);
  font-size: 1.16rem;
  margin-bottom: 0.5em;
}

.links-subsection-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subsection-footer {
  margin-bottom: 0.5em;
}

.links-subsection-footer li {
  margin-bottom: 0.5em;
}

.link-footer {
  text-decoration: none;
  font-size: 0.88rem;
  color: var(--white-header);
  opacity: 0.5;
}

.subsection-footer p {
  color: var(--white-header);
  font-size: 0.88rem;
  opacity: 0.5;
}

.link-footer:hover {
  opacity: 1;
}

@media screen and (min-width: 700px) {
  /* Hero */

  /* Section 2 */
  /* 3 cards */
  .column-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .text-column-section-two {
    flex: 0 0 48%;
    margin-bottom: 0;
  }

}
